/.idea/
/**/.idea/
/**/.idea/*.xml
/.settings/
/**/*.iml
/.project
/git-m
/**/logs/
*target*
*.ipr
*.iws
/**/.classpath
/**/.project
/**/.settings
/**/*.log
/.DS_Store
/**/.DS_Store
/deploy/db/config
/.metadata/
/app/test/log.txt
/.git/
/.git/*
